<h1>Demo#index</h1>
<p>Hii index</p>

<a href="/demo/hello"> hi </a><br />

<%= link_to("hi2", {:action => 'hello'}) %><br />

<%= link_to("hi with parameters", {:action => 'hello', :page => 5, :id => 20}) %>

<br>
<% name = 'Nick' %>

<%= link_to('Roar', '#', :onclick => "jsRoar('#{j(name)}'); return true;") %>

<%= javascript_tag("jsRoar('#{j(name)}');") %>